
.card {
    width: 18rem;
    margin: 10px; /* Añade margen para separar las tarjetas */
    display: inline-block; /* Permite que las tarjetas estén alineadas horizontalmente */
    vertical-align: top; /* Alinea las tarjetas en la parte superior */
    height: 100%; /* Asegura que la tarjeta tome toda la altura del contenido */
    border: 0cap;
}

.card img {
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover; /* Escala la imagen para llenar el espacio, cortando si es necesario */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

