.footer {
    background-color: wheat;
    color: black;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye el espacio entre elementos */
}

.footer-item {
    flex: 0 1 45%; /* Cada elemento ocupa un 45% del ancho */
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea los elementos al inicio */
    text-align: left; /* Alinea el contenido a la izquierda */
}

/* Ajustes específicos para pantallas de 768px o menos */
@media (max-width: 768px) {
    .footer {
        flex-direction: column; /* Cambia a disposición vertical */
        align-items: center;
        padding: 10px;
    }

    .footer-item {
        flex: 0 1 100% !important;/* Cada ítem ocupa todo el ancho */
        margin: 10px 0;
        justify-content: center; /* Centra el contenido horizontalmente */
        text-align: center !important; /* Centra el texto dentro del ítem */
    }

    .footer-item a, .footer-item span {
        margin-left: 0; /* Elimina el margen para centrar mejor */
    }
}
