 .arreglo{
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
 }

 .carousel-item img {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  