body{
  min-width: 100%;
  min-height: 100%;
}

.card {
  padding: 1em;
  
}

.read-the-docs {
  color: #888;
}
.navBg{
  background-color: white;
  padding: 2rem;
  height: 8rem;
}

.subtitulo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
